@model IEnumerable<MySuperMarket.Models.STOCK>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>超市管理系统 v0.1</title>
    <link rel="stylesheet" href="/Content/assets/libs/layui/css/layui.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo" style="color:white">
                <b>超市管理系统 v0.1</b>
            </div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left" style="margin-top: 20px">
                <span class="layui-breadcrumb">
                    <a href="">欢迎</a>
                    <a href="">库存管理</a>
                    <a href="">进货记录</a>
                </span>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="/Content/assets/image/avatar.PNG" class="layui-nav-img">
                        管理员
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出登录</a></li>
            </ul>
        </div>
        <!-- 导航栏区域 -->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">销售管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/SALES_LOT/Index">今日销售</a></dd>
                            <dd><a href="/SALES_LOT/Create">销售报表</a></dd>
                            <dd><a href="/PRODUCT_ATTRIBUTE/Index">商品信息管理</a></dd>
                            <dd><a href="/INCOMEs/Index">收支管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">货架管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/SHELves/Index">货架分区</a></dd>
                            <dd><a href="/PRODUCTs/Put">商品摆放</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">库存管理</a>
                        <dl class="layui-nav-child">
                            <dd class="layui-this"><a href="/STOCKs/Index">进货记录</a></dd>
                            <dd><a href="/PRODUCTs/Index">库存记录</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">供应链管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/PLANs/Index">进货计划</a></dd>
                            <dd><a href="/SUPPLIERs/Index">供货商信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">赞助商管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/SUPPORTs/Index">赞助记录</a></dd>
                            <dd><a href="/SPONSORs/Index">赞助商信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">员工管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/EMPLOYEEs/Index">员工记录</a></dd>
                            <dd><a href="/SALARies/Index">工资管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a class="" href="javascript:;">促销管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/VIPs/Index">会员信息</a></dd>
                            <dd><a href="/PRODUCTs/Create">折扣管理</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body" style="padding: 0px 20px 20px 20px; background-color: #F2F2F2;">
            <!-- 内容主体区域 -->
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">

                <div class="layui-tab-content" style="margin-top: 10px">

                    <div class="layui-tab-item layui-show">
                        <!--第一个界面-->
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header" style="padding: 8px 20px">
                                    <i class="layui-icon layui-icon-cart-simple" style="font-size: 18px; font-weight: bold">
                                        进货记录管理
                                    </i>
                                </div>
                                <div class="layui-card-body">
                                    <form class="layui-form layui-form-pane" action="" style="padding-top: 6px">
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">键值类型</label>
                                                <div class="layui-input-inline">
                                                    <select id="type" lay-filter="type">
                                                        <option value="">-请选择-</option>
                                                        <option value="0">进货单号</option>
                                                        <option value="1">商品批号</option>
                                                        <option value="2">商品编码</option>
                                                        <option value="3">商品名称</option>
                                                        <option value="4">计划单号</option>
                                                        <option value="5">支出表ID</option>
                                                        <option value="6">数量</option>
                                                        <option value="7">日期</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">输入键值</label>
                                                <div class="layui-input-inline">
                                                    <input name="title" autocomplete="off" placeholder="请输入"
                                                           class="layui-input" type="text">
                                                </div>
                                            </div>
                                            <button type="button" id="stock-search" class="layui-btn icon-btn">
                                                <i class="layui-icon">&#xe615;</i>搜索
                                            </button>
                                            <button type="button" id="stock-Hsearch" class="layui-btn icon-btn">
                                                <i class="layui-icon">&#xe615;</i> 高级搜索
                                            </button>
                                            <button type="button" id="stock-add" class="layui-btn icon-btn">
                                                <i class="layui-icon">&#xe654;</i>添加
                                            </button>
                                        </div>
                                    </form>
                                    <!-- 主体表格部分 -->
                                    <!-- 声明一个隐藏的表格，通过render函数进行数据载入 -->
                                    <table class="layui-hide" id="stock_record_table" lay-filter="stock_record_table"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->

        </div>
    </div>
    <script src="/Content/assets/libs/layui/layui.js"></script>
    <script type="text/html" id="stock-record-search-model">
        <!--高级搜索弹出框-->
        <form id="stock-record-search-form" lay-filter="stock-record-search-form" class="layui-form model-form">
            <div style="margin: 20px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">进货单号</label>
                    <div class="layui-input-inline">
                        <input name="STOCK_ID" placeholder="请输入进货单号" type="text"
                               class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品批号</label>
                    <div class="layui-input-inline">
                        <input name="BATCH_ID" placeholder="请输入商品批号" type="text"
                               class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品编码</label>
                    <div class="layui-input-inline">
                        <input name="PRODUCT_ID" placeholder="请输入商品编码" type="text"
                               class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品名称</label>
                    <div class="layui-input-inline">
                        <input name="PRODUCT_NAME" placeholder="请输入商品名称" type="text"
                               class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">计划单号</label>
                    <div class="layui-input-inline">
                        <input name="PLAN_ID" placeholder="请输入计划单号" type="text"
                               class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支出表ID</label>
                    <div class="layui-input-inline">
                        <input name="EXPENSE_ID" placeholder="请输入支出表ID" type="text"
                               class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">数量</label>
                    <div class="layui-input-inline" style="width: 82px;">
                        <input type="text" name="NUM_MIN" placeholder="最小" autocomplete="off"
                               class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 82px;">
                        <input type="text" name="NUM_MAX" placeholder="最大" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                        <input name="STOCK_DATE" type="text" class="layui-input"
                               placeholder=" 年-月-日 ">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-primary close" onclick="layer.closeAll()" type="button">
                            取消
                        </button>
                        <button class="layui-btn layui-btn-normal" type="button"
                                lay-filter="stock-search-form-submit" lay-submit>
                            查询
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script type="text/html" id="stock-record-add-model">
        <!--添加弹出框-->
        <form id="stock-record-add-form" lay-filter="stock-record-add-form" class="layui-form model-form">
            <div style="margin: 20px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">进货单号</label>
                    <div class="layui-input-inline">
                        <input name="STOCK_ID" placeholder="请输入进货单号" type="number"
                               class="layui-input"
                               lay-verify="required|number1" required />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品批号</label>
                    <div class="layui-input-inline">
                        <input name="BATCH_ID" placeholder="请输入商品批号" type="number"
                               class="layui-input"
                               lay-verify="required|number2" required />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">计划单号</label>
                    <div class="layui-input-inline">
                        <input name="PLAN_ID" placeholder="请输入计划单号" type="number"
                               class="layui-input"
                               lay-verify="required|number3" required />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">生产日期</label>
                    <div class="layui-input-inline">
                        <input name="PRODUCE_DATE" placeholder="请输入生产日期" type="text"
                               class="layui-input"
                               lay-verify="required" required />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支出表ID</label>
                    <div class="layui-input-inline">
                        <input name="EXPENSE_ID" placeholder="请输入支出表ID" type="number"
                               class="layui-input"
                               lay-verify="required|number4" required />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">数量</label>
                    <div class="layui-input-inline">
                        <input name="STOCK_NUM" placeholder="请输入数量" type="number"
                               class="layui-input"
                               lay-verify="required|number" required />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">进货日期</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="STOCK_DATE"
                               placeholder=" 年-月-日 ">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-primary close" onclick="layer.closeAll()" type="button">
                            取消
                        </button>
                        <button class="layui-btn layui-btn-normal"
                                lay-filter="stock-add-form-submit" lay-submit>
                            添加
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </script>

    <script>
        //JavaScript代码区域
        layui.use(['element', 'layer'], function () {
            var element = layui.element, layer = layui.layer;

        });
    </script>

    <script type="text/javascript">
        function change(time) {
            var date = new Date(parseInt(time.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var Hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }

    </script>
    <script>
    layui.use(['form', 'table'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        var form = layui.form;
        table.render({
            elem: '#stock_record_table'
            , url: '/STOCKs/getJson/' //数据接口
            , method: "post"
            , cellMinWidth: 120
            //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            //width 支持：数字、百分比和不填写。
            //你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                {type: 'numbers'},
                {field: 'STOCK_ID', sort: true, title: '进货单号'},
                {field: 'BATCH_ID', sort: true, title: '商品批号'},
                {field: 'PRODUCT_ID', title: '商品编码', sort: true},
                {field: 'PRODUCT_NAME', title: '商品名称'},
                { field: 'PLAN_ID', sort: true, title: '计划单号' },
                { field: 'EXPENSE_ID', sort: true, title: '支出表ID' },
                {field: 'STOCK_NUM', sort: true, title: '数量'},
                { field: 'STOCK_DATE', sort: true, title: '日期', templet: '<div>{{ change(d.STOCK_DATE)}}</div>'},

            ]]

        });
        // 高级搜索按钮点击事件
        $(document).on('click', '#stock-Hsearch', function (data) {
            layer.open({
                type: 1,
                title: '高级搜索',
                area: '400px',
                offset: 'auto',
                content: $('#stock-record-search-model').html(),
                success: function () {
                    form.val('stock-record-search-form', data);
                }
            });
        });
        //添加按钮点击事件
        $(document).on('click', '#stock-add', function (data) {
            layer.open({
                type: 1,
                title: '添加进货记录',
                area: '400px',
                offset: 'auto',
                content: $('#stock-record-add-model').html(),
                success: function () {
                    form.val('stock-record-add-form', data);
                }
            });
        });

    });
    </script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script type="text/javascript">
        //搜索按钮响应事件
        $(document).ready(function () {

            $("#stock-search").click(function () {
                var type = $("#type").val();
                var val = $(" input[ name='title' ] ").val();

                layui.use(['table', 'element'], function () {

                    var table = layui.table;
                    var element = layui.element;
                    var $ = layui.jquery;

                    var linkString = '/STOCKs/search01/' + type + '/' + val;
                    // alert(type);

                    table.render({
                        elem: '#stock_record_table'
                       , url: linkString //数据接口
                        , method: "post"
                        , cellMinWidth: 120
                        //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                        //width 支持：数字、百分比和不填写。
                        //你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                        , cols: [[
                            { type: 'numbers' },
                            { field: 'STOCK_ID', sort: true, title: '进货单号' },
                            { field: 'BATCH_ID', sort: true, title: '商品批号' },
                            { field: 'PRODUCT_ID', title: '商品编码', sort: true },
                            { field: 'PRODUCT_NAME', title: '商品名称' },
                            { field: 'PLAN_ID', sort: true, title: '计划单号' },
                            { field: 'EXPENSE_ID', sort: true, title: '支出表ID' },
                            { field: 'STOCK_NUM', sort: true, title: '数量' },
                            { field: 'STOCK_DATE', sort: true, title: '日期', templet: '<div>{{ change(d.STOCK_DATE)}}</div>' },

                        ]]

                    });
                });
            });
        });

    </script>
    <script type="text/javascript">
        layui.use(['form', 'table'], function () {
            var table = layui.table;
            var $ = layui.jquery;
            var form = layui.form;

            //自定义验证规则
            form.verify({
                number1: function (value) {
                    if (value.length != 4) {
                        return '进货单号必须为4位';
                    }
                }
                , number2: function (value) {
                    if (value.length != 12) {
                        return '商品批号必须为12位';
                    }
                }
                , number3: function (value) {
                    if (value.length != 5) {
                        return '计划单号必须为5位';
                    }
                }
                , number4: function (value) {
                    if (value.length != 4) {
                        return '支出表ID必须为4位';
                    }
                }

            });


            //添加弹窗提交按钮点击事件
            form.on('submit(stock-add-form-submit)', function (data) {
                var elem1 = data.field.STOCK_ID;
                var elem2 = data.field.BATCH_ID;
                var elem3 = data.field.PLAN_ID;
                var elem4 = data.field.PRODUCE_DATE;
                var elem5 = data.field.EXPENSE_ID;
                var elem6 = data.field.STOCK_NUM;
                var elem7 = data.field.STOCK_DATE;

                $.post('/STOCKs/test/' + elem1 + '/' + elem3 + '/' +elem5, function (data) {
                    var IsExist = data;
                    if (IsExist == "1") {
                        layer.alert('进货单号已存在，添加失败', {
                            btn: ['确定']
                            , yes: function (index) {

                                layer.closeAll();
                            }
                        });
                    }
                    else if (IsExist == "2") {
                        layer.alert('找不到符合条件的支出表ID', {
                            btn: ['确定']
                            , yes: function (index) {

                                layer.closeAll();
                            }
                        });
                    }
                    else if (IsExist == "3") {
                        layer.alert('找不到符合条件的计划单号', {
                            btn: ['确定']
                            , yes: function (index) {

                                layer.closeAll();
                            }
                        });
                    }
                    else if (IsExist == "4") {

                        layui.use(['table', 'element'], function () {
                            var table = layui.table;
                            var $ = layui.jquery;
                            alert('/STOCKs/Create01/' + elem1 + '/' + elem2 + '/' + elem3 + '/' + elem4 + '/' + elem5 + '/' + elem6 + '/' + elem7 );
                            table.render({
                                elem: '#stock_record_table'
                                , url: '/STOCKs/Create01/' + elem1 + '/' + elem2 + '/' + elem3 + '/' + elem4 + '/' + elem5 + '/' + elem6 + '/' + elem7 //数据接口
                                , method: "post"
                                , cellMinWidth: 120
                                , cols: [[
                                    { type: 'numbers' },
                                    { field: 'STOCK_ID', sort: true, title: '进货单号' },
                                    { field: 'BATCH_ID', sort: true, title: '商品批号' },
                                    { field: 'PRODUCT_ID', title: '商品编码', sort: true },
                                    { field: 'PRODUCT_NAME', title: '商品名称' },
                                    { field: 'PLAN_ID', sort: true, title: '计划单号' },
                                    { field: 'EXPENSE_ID', sort: true, title: '支出表ID' },
                                    { field: 'STOCK_NUM', sort: true, title: '数量' },
                                    { field: 'STOCK_DATE', sort: true, title: '日期', templet: '<div>{{ change(d.STOCK_DATE)}}</div>' },

                                ]]
                            });
                        });
                        layer.closeAll();


                    }
                })
                return false;
            });



            //高级搜索提交按钮事件
            form.on('submit(stock-search-form-submit)', function (data) {
                var elem1 = data.field.STOCK_ID;
                var elem2 = data.field.BATCH_ID;
                var elem3 = data.field.PRODUCT_ID;
                var elem4 = data.field.PRODUCT_NAME;
                var elem5 = data.field.PLAN_ID;
                var elem6 = data.field.EXPENSE_ID;
                var elem7 = data.field.NUM_MIN;
                var elem8 = data.field.NUM_MAX;
                var elem9 = data.field.STOCK_DATE;



                if (elem1 == "") elem1 = "!!";
                if (elem2 == "") elem2 = "!!";
                if (elem3 == "") elem3 = "!!";
                if (elem4 == "") elem4 = "!!";
                if (elem5 == "") elem5 = "!!";
                if (elem6 == "") elem6 = "!!";
                if (elem7 == "") elem7 = "!!";
                if (elem8 == "") elem8 = "!!";
                if (elem9 == "") elem9 = "!!";


                layui.use(['table', 'element'], function () {
                    var table = layui.table;
                    var $ = layui.jquery;

                    table.render({
                        elem: '#stock_record_table'
                        , url: '/STOCKs/advancedSearch/' + elem1 + '/' + elem2 + '/' + elem3 + '/' + elem4 + '/' + elem5 + '/' + elem6 + '/' + elem7 + '/' + elem8 + '/' + elem9 //数据接口
                        , method: "post"
                        , cellMinWidth: 120
                        , cols: [[
                            { type: 'numbers' },
                            { field: 'STOCK_ID', sort: true, title: '进货单号' },
                            { field: 'BATCH_ID', sort: true, title: '商品批号' },
                            { field: 'PRODUCT_ID', title: '商品编码', sort: true },
                            { field: 'PRODUCT_NAME', title: '商品名称' },
                            { field: 'PLAN_ID', sort: true, title: '计划单号' },
                            { field: 'EXPENSE_ID', sort: true, title: '支出表ID' },
                            { field: 'STOCK_NUM', sort: true, title: '数量' },
                            { field: 'STOCK_DATE', sort: true, title: '日期', templet: '<div>{{ change(d.STOCK_DATE)}}</div>' },

                        ]]
                    });
                    layer.closeAll();
                });

                //return false;
            });

        });
    </script>
</body>

</html>